.past-events {
  background-color: #bcb4bc;
}

.past-events h1 {
  text-align: center;
}

.past-events .past-events-parallax-text {
  background-color: #bcb4bc;
}

.past-events .past-events-parallax-1 {
  /* The image used */
  background-image: url("../img/pukkelpop.jpg");
  height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.past-events .past-events-parallax-2 {
  /* The image used */
  background-image: url("../img/AB-mei-2019.jpg");
  height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.past-events .past-events-parallax-3 {
  /* The image used */
  background-image: url("../img/werchter.jpg");
  height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .past-events .past-events-parallax-text p a {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  background-color: #dcd4dc;
}

nav .img-wrapper span {
  font-size: 1.5em;
  font-family: 'Oswald', sans-serif;
}

header {
  border-bottom: 1px solid lightgray;
}

header .icon-nav {
  width: 40px;
}

header .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[3];
      grid-template-columns: repeat(3, 2fr);
  width: 100vw;
}

header .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header button {
  width: 60px;
}

header a {
  text-align: center;
  text-decoration: none !important;
  color: black !important;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  background-color: green !important;
  width: 250px;
  margin-bottom: 20px;
}

header a:hover {
  background-color: darkgreen !important;
}

header a:active {
  background-color: greenyellow !important;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  max-height: 50px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #bcb4bc;
}

footer #footer-logo img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 45px;
}

footer #footer-social-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  max-width: 400px;
}

footer #footer-social-border i {
  padding: 5px;
}

footer #footer-social-border i:hover {
  color: #f70deb;
}

footer p {
  margin: auto 0;
  color: white;
}

footer a {
  color: black;
  padding: 10px;
}

footer a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #f70deb;
}

.index {
  text-align: center;
  color: black;
  background-color: white;
}

.index .carousel .carousel-inner {
  height: 85vh;
  background-color: white;
}

.index .carousel .carousel-inner .carousel-item, .index .carousel .carousel-inner .carousel-item img {
  height: 100%;
}

.index .carousel .carousel-inner .carousel-item .carousel-caption p, .index .carousel .carousel-inner .carousel-item .carousel-caption h5, .index .carousel .carousel-inner .carousel-item .carousel-caption a, .index .carousel .carousel-inner .carousel-item img .carousel-caption p, .index .carousel .carousel-inner .carousel-item img .carousel-caption h5, .index .carousel .carousel-inner .carousel-item img .carousel-caption a {
  color: black;
}

.index h2, .index h1, .index p {
  padding: 15px;
  font-family: 'Oswald', sans-serif;
}

.index h1 {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.index h2 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.index p {
  font-size: 2rem;
  margin: auto;
  text-align: center;
}

.index .iframe-container {
  position: relative;
  margin: auto;
  background-color: black;
  width: 80%;
  padding-bottom: 45%;
  height: 0;
}

.index .iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 30px;
  }
}

#title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-grid-column: 2;
      grid-column-start: 2;
  margin-bottom: 20px;
}

#title h1 {
  margin-top: 20px;
}

#title hr {
  background-color: black;
  width: 90%;
}

.album main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.album .albums:nth-child(even) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  width: 50%;
  margin-bottom: 10%;
}

.album .albums:nth-child(even) img {
  border-radius: 50%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 250px;
  height: 250px;
}

.album .albums:nth-child(even) .info-album {
  margin-left: 20px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.album .albums:nth-child(even) .info-album hr {
  background-color: black;
  width: 60%;
}

.album .albums:nth-child(even) .info-album p {
  text-align: center;
}

.album .albums:nth-child(odd) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  margin-bottom: 10%;
}

.album .albums:nth-child(odd) img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.album .albums:nth-child(odd) .info-album {
  margin-left: 20px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.album .albums:nth-child(odd) .info-album hr {
  background-color: black;
  width: 60%;
}

.album .albums:nth-child(odd) .info-album p {
  text-align: center;
}

@media (max-width: 1000px) {
  .album main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
  }
  .album .albums {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 100vw !important;
  }
  .album .albums .info-album {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .album .albums .info-album hr {
    background-color: white;
    width: 90%;
  }
  .album .albums .info-album p {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */