.past-events {
  background-color: #bcb4bc;
  display: grid;
}
.past-events h1 {
  text-align: center;
  animation: animate 0.7s ease-in-out infinite;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.past-events .past-events-parallax-text {
  border: 1px solid red;
  background-color: #bcb4bc;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.past-events .past-events-parallax-1 {
  /* The image used */
  background-image: url("/TheSubs/img/pukkelpop-mobile.webp");
  height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.past-events .past-events-parallax-2 {
  /* The image used */
  background-image: url("/TheSubs/img/AB-mei-2019.webp");
  height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.past-events .past-events-parallax-3 {
  /* The image used */
  background-image: url("/TheSubs/img/werchter.webp");
  height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.past-events-grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .past-events .past-events-parallax-text p {
    display: block;
  }
  .past-events .past-events-parallax-text button {
    display: none;
  }
  .past-events .past-events-parallax-1 {
    /* The image used */
    background-image: url("/TheSubs/img/pukkelpop.webp");
  }
}
@media screen and (max-width: 992px) {
  .about main .about-parallax-1, .about main .about-parallax-2, .about main .about-parallax-3 {
    max-height: 300px;
  }
  .about main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .about main img {
    margin-top: 5%;
  }
  .about main #about-wiebe {
    flex-direction: column-reverse;
  }
}
* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  background-color: #dcd4dc;
}
nav .img-wrapper span {
  font-size: 1.5em;
}

header {
  border-bottom: 1px solid lightgray;
}
header .icon-nav {
  width: 40px;
}
header .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  width: 100vw;
}
header .img-wrapper {
  display: flex;
  justify-content: center;
}
header button {
  width: 60px;
}
header a {
  text-align: center;
  text-decoration: none !important;
  color: black !important;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  background-color: #ababab !important;
  width: 250px;
  margin-bottom: 20px;
}
header a:hover {
  background-color: #f70deb !important;
}
header .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  max-height: 50px;
  display: flex !important;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  text-align: center;
  background-color: #bcb4bc;
  font-size: 0.8em;
  max-width: 100%;
}
footer #footer-logo img {
  object-fit: contain;
  max-height: 45px;
}
footer #footer-social-border {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-grow: 2;
  max-width: 400px;
}
footer #footer-social-border i:hover {
  color: #f70deb;
}
footer p {
  margin: auto 0;
  color: white;
}
footer a {
  color: black;
  animation: animate 0.4s linear infinite;
}
footer a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #f70deb;
}

.index {
  text-align: center;
  color: black;
}
.index a {
  text-decoration: none;
  color: black;
  font-size: 2em;
}
.index a:hover {
  text-transform: uppercase;
  color: #fc7c74;
}
.index .para1, .index .para2, .index .para3, .index .para4 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.index .para1 {
  background-image: url(../img/index-para1.webp);
  width: 100%;
  height: 100vh;
}
.index .para1 #heading-index {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.index .para2 {
  background-image: url(../img/index-para2.webp);
}
.index .para3 {
  background-image: url(../img/index-para3.webp);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.index .para4 {
  background-image: url(../img/index-para4.webp);
  padding: 20px;
  height: 80vh;
  display: flex;
  align-items: center;
}
.index #index-readmore {
  display: block;
  min-width: 150px;
  padding: 15px;
  border-radius: 40px;
  font-size: 3em;
  animation: animate 0.4s linear infinite;
}
.index #index-read-even-more {
  padding: 15px;
  padding-bottom: 40px;
  border-radius: 40px;
  animation: animate 0.4s linear infinite;
}
.index .index-animation {
  position: relative;
  background: linear-gradient(182deg, #bcb4bc, #dbd6d6);
  background-size: 200% 200%;
  padding-bottom: 50px;
  -webkit-animation: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
.index h2, .index h1, .index p {
  font-family: "Oswald", sans-serif;
  padding: 40px;
  margin: 0;
}
.index h1 {
  font-weight: bold;
  text-transform: uppercase;
  animation: animate 0.4s linear infinite;
  padding: 70px 0;
  font-size: 5em;
}
.index h2 {
  font-weight: bold;
  text-transform: uppercase;
  animation: animate 0.4s linear infinite;
}
@keyframes animate {
  0%, 100% {
    text-shadow: -2px -2px 0 #f70deb, 2px 2px 0 #0ff;
  }
  25% {
    text-shadow: 2px 2px 0 #f70deb, -2px -2px 0 #0ff;
  }
  50% {
    text-shadow: 2px -2px 0 #f70deb, -2px 2px 0 #0ff;
  }
  75% {
    text-shadow: -2px 2px 0 #f70deb, 2px -2px 0 #0ff;
  }
}
.index p {
  margin: auto;
  text-align: center;
}
.index .iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.index .iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 769px) {
  footer {
    padding: 30px;
    font-size: 1.5em;
  }
  footer a {
    padding: 0 10px;
  }
  footer i {
    padding: 0 5px;
  }
  footer #footer-social-border {
    max-width: 600px;
  }

  .index p {
    font-size: 2rem;
  }
  .index h2 {
    font-size: 4rem;
  }
  .index h1 {
    font-size: 13rem;
  }
  .index h2, .index h1, .index p {
    padding: 60px;
  }
  .index .para2 {
    height: 400px;
  }
  .index .para3 {
    min-height: 150vh;
  }
  .index .para1 {
    background-position: center;
    height: 100vh;
  }
  .index .para4 {
    height: 100vh;
  }
  .index .iframe-container {
    margin: auto;
    width: 80%;
    padding-bottom: 45%;
  }
}
#title {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  grid-column-start: 2;
  margin-bottom: 20px;
}
#title h1 {
  margin-top: 20px;
  animation: animate 1s ease-in-out infinite;
}
#title hr {
  background-color: black;
  width: 90%;
}

.album main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.album .albums:nth-child(even) {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  margin-bottom: 10%;
}
.album .albums:nth-child(even) img {
  border-radius: 50%;
  order: 2;
  width: 250px;
  height: 250px;
}
.album .albums:nth-child(even) .info-album {
  margin-right: 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.album .albums:nth-child(even) .info-album hr {
  background-color: black;
  width: 90%;
}
.album .albums:nth-child(even) .info-album p {
  text-align: center;
  font-size: 1em;
}
.album .albums:nth-child(odd) {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10%;
}
.album .albums:nth-child(odd) img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.album .albums:nth-child(odd) .info-album {
  margin-left: 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.album .albums:nth-child(odd) .info-album hr {
  background-color: black;
  width: 90%;
}
.album .albums:nth-child(odd) .info-album p {
  text-align: center;
  font-size: 1em;
}
@media screen and (max-width: 992px) {
  .album .albums:nth-child(even) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    width: 85%;
    margin-bottom: 10%;
  }
  .album .albums:nth-child(even) img {
    border-radius: 50%;
    order: 2;
    width: 250px;
    height: auto;
  }
  .album .albums:nth-child(even) .info-album {
    margin-right: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .album .albums:nth-child(even) .info-album hr {
    background-color: black;
  }
  .album .albums:nth-child(even) .info-album p {
    text-align: center;
    font-size: 1em;
  }
  .album .albums:nth-child(odd) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
    margin-bottom: 10%;
  }
  .album .albums:nth-child(odd) img {
    border-radius: 50%;
    width: 250px;
    height: auto;
  }
  .album .albums:nth-child(odd) .info-album {
    margin-left: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .album .albums:nth-child(odd) .info-album hr {
    background-color: black;
  }
  .album .albums:nth-child(odd) .info-album p {
    text-align: center;
    font-size: 1em;
  }
}

.about main h1 {
  animation: animate 1s ease-in-out infinite;
}
.about main section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
  text-align: center;
}
.about .about-who {
  text-align: center;
}
.about img {
  border-radius: 50%;
}
.about #about-header {
  flex-direction: column;
}
.about .about-parallax-1 {
  /* The image used */
  background-image: url("/TheSubs/img/parallax-1.webp");
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about .about-parallax-2 {
  /* The image used */
  background-image: url("/TheSubs/img/parallax-2.webp");
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about .about-parallax-3 {
  /* The image used */
  background-image: url("/TheSubs/img/parallax-3.webp");
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact main {
  width: 100%;
}
.contact main input:hover {
  font-weight: bold;
  text-decoration: none;
  color: #f70deb;
}
.contact main .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 5%;
}
.contact main .contact-form * {
  padding: 1%;
}
.contact main .contact-form div {
  width: 100%;
}
.contact main .contact-form div input {
  width: 30%;
}
.contact main .contact-form div textarea {
  width: 50%;
}
.contact main .contact-form label {
  animation: animate 0.7s ease-in-out infinite;
}
.contact main .contact-iframe {
  display: flex;
  border: hidden;
  justify-content: center;
}
.contact main .contact-iframe iframe {
  width: 50%;
  margin-bottom: 5px;
}

/*# sourceMappingURL=main.css.map */
