
  @mixin parallax-effect{
    height: 500px;

/* Create the parallax scrolling effect */
    background: {
        attachment: fixed;
        position: center;
        repeat: no-repeat;
        size: cover;
        
    }
}
@mixin about {
    .about {
   
     .container-fluid{
        display: grid;
        width: 80%;
        row-gap: 100px;
        column-gap: 50px;
        justify-self: center;
            
        }
       
    
    .about-parallax-1 {
        /* The image used */
        background-image: url("/img/parallax-1.jpg");
        
     @include parallax-effect;
        }

    .about-parallax-2 {
            /* The image used */
            background-image: url("/img/parallax-2.jpg");
            
         @include parallax-effect;
          }
    .about-parallax-3 {
            /* The image used */
            background-image: url("/img/parallax-3.jpg");
           
           @include parallax-effect;
          }
    }
}

