@mixin contact {
    .contact {
     
      main{
       
      width: 100%;
      input:hover {
        font-weight: bold;
        text-decoration: none;
        color: $magenta;
        }

        
       .contact-form{
          
          display: flex;
         flex-direction: column;
          justify-content: center;
          width: 100%;
          
         
          text-align: center;
          padding: 5%;
          *{
            padding: 1%;
            
          }
         div{
           width: 100%;
           input{
             width: 30%;
           }
           textarea{
             width: 50%;
           }
         }
          
          label{
            animation: animate 0.7s ease-in-out infinite;
           
          }
         
          }
           
        .contact-iframe{
         
         display: flex;
         border: hidden;
          justify-content: center;
          iframe{
            width: 50%;
            margin-bottom: 5px;
          }
        }
          }
          
     
      }
    }
   
 
    
  