@mixin contact {
    .contact {
      background-color: rgb(52, 25, 126);
      
      *{
        padding: 5%;
        
      }  
      display: flex;
     
       justify-content: center; 
      input:hover{
        font-weight: bold;
        text-decoration: none;
        color: $magenta;
        }

      form{
        fieldset{
          display: flex;
          
      }
      }
    }
  }

.contact {
  main {
    display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  flex-wrap: wrap;
form {

}
iframe {

}
}
}
