@mixin past-events-parallax-effect {
  /* Create the parallax scrolling effect */
  background: {
    attachment: fixed;
    position: center;
    repeat: no-repeat;
    size: cover;
  }
}

@mixin past-event {
  .past-events {
    background-color: $silver;

    h1 {
      text-align: center;
    }
    button {
      display: none;
    }

    @media screen and (min-width: 768px) {
      .past-events {
        .past-events-parallax-text p a {
          display: none;
        }
      }
    }
  }
}
