.past-events {
    height: 90vh;

    main {
        height: 100%;
        background-color: red;

        article {
            height: 100%;

            .past-events-parallax-text {
                background-color: $silver;
                height: 30%;
            }
            .past-events-parallax-1 {
                /* The image used */
                background-image: url('../img/sea-1337565_1920.jpg');

                /* Full height */
                height: 70%;

                /* Create the parallax scrolling effect */
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;


            }

            .past-events-parallax-2 {
                /* The image used */
                background-image: url('../img/sebastien-jermer-n7DY58YFg9E-unsplash.jpg');

                /* Full height */
                height: 70%;

                /* Create the parallax scrolling effect */
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}