@import 'variable';
@import 'album';
@import 'contact';
@import 'past-events';
@import 'about';


*{
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: inherit;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;

  }

 html{
  scroll-behavior: smooth;
 }


nav {
    background-color: $thristle;
    .img-wrapper {
      span {
        font-size: 1.5em;
      }
    }
}
header{

    border-bottom: 1px solid lightgray;

  .icon-nav {
    width: 40px;
}

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    width: 100vw;
  }

  .img-wrapper {
      display: flex;
      justify-content: center;
  }
  
  button {
    width: 60px;
  }

  a {
    text-align: center;
    text-decoration: none !important;
    color: black !important;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    background-color:$dark-gray !important;
    width: 250px;
    margin-bottom: 20px;
  
    &:hover {
      background-color: $magenta !important;
    }
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

footer{
  max-height: 50px;
  display: flex !important;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  text-align: center;
  background-color: $silver;
  font-size: 0.8em;
  max-width: 100%;

 #footer-logo img{
    object-fit: contain;
    max-height: 45px;
  }

  #footer-social-border{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-grow: 2;
    max-width: 400px;

    i:hover{
      color: $magenta;
      }
    }

    p{
    margin: auto 0;
    color: $secondary-bg;
    }

    a{
    color: $primary-text;
    animation: animate 0.4s linear infinite;

    }

    a:hover{
    font-weight: bold;
    text-decoration: none;
    color: $magenta;
    }
  }

.index{
  text-align: center;
  color: $primary-text;

  a{
    text-decoration: none;
    color: $primary-text;
    font-size: 2em;
  }

  a:hover{
  text-transform: uppercase;
  color: $salmon
  }

  .para1, .para2, .para3, .para4{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .para1{
    background-image: url(../img/index-para1.jpg);
    width: 100%;
    height: 100vh;

    #heading-index{
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .para2{
    background-image: url(../img/index-para2.jpg);
  }

  .para3{
    background-image: url(../img/index-para3.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

  }
  .para4{
    background-image: url(../img/index-para4.jpg);
    padding: 20px;
    height: 80vh;
    display: flex;
    align-items: center;
  }

  #index-readmore{
    display: block;
    min-width: 150px;
    padding: 15px;
    border-radius: 40px;
    font-size: 3em;
    animation: animate 1s ease-in-out infinite;
  }

  #index-read-even-more{
    padding: 15px;
    padding-bottom: 40px;
    border-radius: 40px;
    animation: animate 1s ease-in-out infinite;
  }

  .index-animation{
    position: relative;
    background: linear-gradient(182deg, $silver, #dbd6d6);
    background-size: 200% 200%;
    padding-bottom: 50px;
    
    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
    
    @-webkit-keyframes AnimationName {
        0%{background-position:51% 0%}
        50%{background-position:50% 100%}
        100%{background-position:51% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:51% 0%}
        50%{background-position:50% 100%}
        100%{background-position:51% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:51% 0%}
        50%{background-position:50% 100%}
        100%{background-position:51% 0%}
  }
}
  h2, h1, p{
    font-family: 'Oswald', sans-serif;
    padding: 40px;
    margin: 0;
    }
  

  h1{
    font-weight: bold;
    text-transform: uppercase;
    animation: animate 0.4s linear infinite;
    padding: 70px 0;
    font-size: 5em;

  }

  h2{
    font-weight: bold;
    text-transform: uppercase;
    animation: animate 0.4s linear infinite;

  }

  @keyframes animate {
    0%, 100%{
      text-shadow: -2px -2px 0 $magenta, 2px
               2px 0 #0ff;
    }
    25%{
      text-shadow: 2px 2px 0 $magenta, -2px
               -2px 0 #0ff;
    }
    50%{
      text-shadow: 2px -2px 0 $magenta, -2px
               2px 0 #0ff;
    }
    75%{
      text-shadow: -2px 2px 0 $magenta, 2px
               -2px 0 #0ff;
    }
  }

  p{
      margin: auto;
      text-align: center; 
  }

  .iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;

    iframe{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media only screen and (min-width: 769px) {
  footer {
    padding: 30px;
    font-size: 1.5em;

    a{
      padding: 0 10px;
    }

    i{
      padding: 0 5px;
    }
    #footer-social-border{
      max-width: 600px;
    }
  }
  .index{

    p{
      font-size: 2rem;
    }
    h2{
      font-size: 4rem;
    }
    h1{
    font-size: 13rem;
    }
    h2, h1, p{
      padding: 60px;
    }
    .para2{
      height: 400px;
    }
    .para3{
      min-height: 150vh;
    }
    .para1{
    background-position: center;
    height: 100vh;
    }
    .para4{
    height: 100vh;

    }
    .iframe-container{
      margin: auto;
      width: 80%;
      padding-bottom: 45%; 
    }
  }
}
@include album;
@include about;