@import 'variable';
@import 'album';
@import 'contact';
@import 'about';


* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: inherit;
    box-sizing: border-box;
  }

  footer{
    max-height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-image: linear-gradient($silver, $white, $silver);

   #footer-logo img{
      object-fit: contain;
      max-height: 50px;
    }
    p{
      margin: auto;
      color: $secondary-text;
    }
    a{
      color: $primary-text;
    }
    a:hover{
      font-weight: bold;
    }
  }
body {
    background-color: $silver;
}

nav {
    background-color: $thristle;
}
header{
    border-bottom: 1px solid lightgray;
}

.icon-nav {
    width: 40px;
}
.album {
    @include album;
}


  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    width: 100vw;
    
  }
  .img-wrapper {
      display: flex;
      justify-content: center;
  }
  button{

      width: 60px;
     
  }
  
